
<!DOCTYPE html>
<html lang="en" class="no-js">

    <head>
        <!-- 登陆模板页面 -->
        <meta charset="utf-8">
        <title>OneOps</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" scontent="">
        <meta name="author" content="">
		{% load staticfiles %}
        <!-- CSS -->
        <link rel='stylesheet' href='http://fonts.googleapis.com/css?family=PT+Sans:400,700'>
        <link href="{% static "login/css/reset.css" %}" rel="stylesheet">
        <link href="{% static "login/css/supersized.css" %}" rel="stylesheet">
        <link href="{% static "login/css/style.css" %}" rel="stylesheet">

        <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
        <!--[if lt IE 9]>
            <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->

    </head>

    <body>

        <div class="page-container">
            <h1><a class="navbar-brand" href="../account/login"><img src="../../static/images/logo.png"></a><span style="color: MintCream">OneOps</span></h1>
             {% if errors %}
                 {% for error in errors %}
                     <h2 ><span style="color: red">您的{{ error }}</span></h2>
                 {% endfor %}
             {% endif %}
            <form action="../account/loginnew.html" method="post">
            <fieldset>
                <input type="text" name="username" class="username" placeholder="您的账号" autofocus>
                <input type="password" name="password" class="password" placeholder="您的密码" >
                <button type="submit">登陆</button>
                {% if errors %}
                    {% for error in errors %}
                        <div class="error"><span style="color: red">+</span></div>
                    {% endfor %}
                {% endif %}
            </fieldset>
            </form>
            <!---
            <div class="connect">
                <p>Or connect with:</p>
                <p>
                    <a class="facebook" href=""></a>
                    <a class="twitter" href=""></a>
                </p>
            </div>
            -->
        </div>
        <div align="center">Link Ops <a href="" target="_blank" title="OneOps">OneOps</a></div>

        <!-- Javascript -->
        <script src="{% static "login/js/jquery-1.8.2.min.js" %}"></script>
        <script src="{% static "login/js/supersized.3.2.7.min.js" %}"></script>
        <script src="{% static "login/js/supersized-init.js" %}"></script>
        <script src="{% static "login/js/scripts.js" %}"></script>

    </body>

</html>

